main.has-dflex-center
  section
    .lx-container-80
      .lx-card
        .lx-row
          h1
            i.fas.fa-music
            | &nbsp;JS Piano Keyboard
        .lx-row
          .keyboard-container.has-dflex.center
            #keyboard
